//Colors
$main-color:rgb(19, 19, 19);
$sec-color: #d51956;
$third-color: #63e9e6;
$main-font-color:#b9b9b9;
$sec-font-color:#f5f5f5;

//Fonts
$main-font:'Comfortaa', cursive;
$sec-font:'Lobster', cursive;
$game-font:'Nerko One', cursive;

//other
$border:2px solid $sec-color;