/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #131313;
  font-family: "Comfortaa", cursive;
  color: #b9b9b9;
}

a {
  color: #63e9e6;
}

a:hover {
  color: #169d9a;
  text-decoration: none;
}

.navbar {
  background-color: black;
  padding: 10px 15px;
}

.navbar img {
  width: 65%;
}

.navbar .ul {
  text-align: right;
}

.login-form {
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 15px black;
          box-shadow: 7px 7px 15px black;
  background-color: #0e0e0e;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}

.login-form .section-1 {
  margin: auto;
  padding: 4% 0%;
}

.login-form .section-1 img {
  width: 100%;
  padding: 4%;
}

.login-form .section-2 {
  border-left: 2px solid #d51956;
  margin: 20px 0px;
  padding: 4% 0% 4% 9%;
}

.login-form .section-2 .form-control {
  background-color: #101010;
  font-family: "Lobster", cursive;
  color: #f5f5f5;
  border: 2px solid #d51956;
  width: 80%;
}

.login-form .section-2 .submit {
  font-family: "Comfortaa", cursive;
  color: #b9b9b9;
  background-color: #d51956;
  border: 1px solid #630c28;
  border-radius: 5px;
  padding: 6px 9px;
}

.login-form .section-2 .submit:hover {
  background-color: #e83972;
}

.login-form .section-2 p {
  padding-top: 3px;
  font-size: 14px;
}

.login-form .section-2 .error {
  color: #d51956;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  padding-right: 10px;
}

.game-info {
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 15px black;
          box-shadow: 7px 7px 15px black;
  background-color: #0e0e0e;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  border: 2px solid #d51956;
  padding: 20px;
  width: 50%;
  line-height: 22px;
  font-size: 16px;
}

.game-info .title {
  font-family: "Nerko One", cursive;
  color: #d51956;
  font-size: 60px;
  text-align: center;
}

.game-info .small-heading {
  font-weight: bolder;
  color: #d51956;
}

.game-info .play {
  font-family: "Comfortaa", cursive;
  color: #b9b9b9;
  background-color: #d51956;
  border: 1px solid #630c28;
  border-radius: 5px;
  padding: 6px 9px;
  width: 100px;
  text-align: center;
  margin: auto;
}

.center {
  text-align: center;
}

.center .log-in {
  font-size: 30px;
}

.game {
  color: #b9b9b9;
  margin-top: 40px;
  font-family: "Comfortaa", cursive;
}

.game b {
  color: #63e9e6;
}

.game .title {
  font-family: "Nerko One", cursive;
  color: #d51956;
  font-size: 35px;
}

.game p {
  line-height: 25px;
  font-size: 15px;
}

.game .moves {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #d51956;
  padding: 20px;
}

.game .moves #moves {
  font-size: 70px;
  font-family: "Nerko One", cursive;
  color: #d51956;
}

.game .high-score {
  border: 2px solid #d51956;
  height: 100%;
}

.game .high-score h1 {
  font-size: 30px;
  background-color: #d51956;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  font-weight: bold;
}

.game .high-score div {
  height: 71.66px;
  background-color: black;
}

.game .high-score div h2 {
  font-size: 17px;
  background-color: #7a0e31;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  color: #b9b9b9;
}

.game .high-score div p {
  height: 40px;
  color: #1ccac6;
  padding-top: 10px;
}

.game .high-score div .uid {
  margin-left: 10px;
  float: left;
  font-size: 19px;
}

.game .high-score div .score {
  float: right;
  margin-right: 30px;
  font-weight: bold;
  font-size: 22px;
}

@media only screen and (max-width: 1200px) {
  .game .title {
    font-size: 30px;
  }
  .game p {
    line-height: 20px;
    font-size: 16px;
  }
  .game .moves {
    font-size: 20px;
    line-height: 20px;
  }
  .game .moves #moves {
    font-size: 30px;
  }
  .game .high-score h1 {
    font-size: 25px;
    padding-top: 13px;
  }
  .game .high-score div h2 {
    font-size: 17px;
  }
  .game .high-score div .uid {
    font-size: 15px;
  }
  .game .high-score div .score {
    margin-right: 10px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 576px) {
  .login-form {
    padding: 10px;
  }
  .login-form .section-2 {
    border: none;
    border-top: 2px solid #d51956;
  }
}
/*# sourceMappingURL=style.css.map */